@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">FunMSNP</h1>
    <p>FunMSNP is a MSNP2/3/4 server made by Animadoria.</p>
    <p>This server is not meant to be public and... just to test stuff :p</p>
    <br/>
    <p>Create your account <a asp-page="Register">here</a>.</p>
</div>
